
.card {
    border-radius: var(--radius-default);
    border: 1px solid var(--border-color);
    margin: 0;
    padding: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    box-sizing: content-box;
    transition: height cubic-bezier(1, 0, 0, 1) 0.5s;
    line-height: 1.5;
    align-items: flex-start;
    width: 100%;
}

.card:not([open]) {
    content-visibility: visible;
}
.card:not([open]) * {
    visibility: visible;
    display: block;
    opacity: 1;
    height: auto;
}

.card summary::marker {
    content: '';
}

.card::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--primary);
}

.card summary {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    max-width: 45%;
}
