.submitting {
    margin-top: 1em;
}

.submitting circle {
    fill: transparent;
    stroke-width: 2px;
    stroke-dasharray: 47.12;
    stroke-dashoffset: 0;
    transform-origin: 12px 12px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}