
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --phthalo-blue: #020887ff;
  --light-slate-gray: #6e8898ff;
  --green-blue-crayola: #3f88c5ff;
  --primary: var(--black);
  --primary-text: var(--white);
  --secondary: var(--white);
  --highlight: var(--phthalo-blue);
  --highlight2: var(--light-slate-gray);
  --highlight3: var(--green-blue-crayola);

  --gray: var(--light-slate-gray);
  --border-color: #eaeaea;

  --radius-small: 3px;
  --radius-large: 8px;
  --radius-default: var(--radius-small);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Saira, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

a:hover {
  color: var(--highlight);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

svg {
  stroke: var(--primary);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding: 0.5rem;
}

form fieldset {
  display: flex;
  border: 0;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding: 0;
}

select {
  background-color: transparent;
}

select, input, textarea {
  font-family: Saria, sans-serif;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 3px solid var(--border-color);
  width: 100%;
  outline: none;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
}

select option[value=""] {
  color: var(--gray);
}

select option {
  border: 0;
  color: var(--primary);
}

select option:active {
  background-color: var(--highlight);
  color: var(--white);
}

input:focus, input:focus:invalid, textarea:focus, textarea:focus:invalid, select:focus {
  border: 0;
  border-bottom: 3px solid var(--primary);
}

input:invalid, textarea:invalid {
  border: 0;
  border-bottom: 3px solid red;
}

input {
  vertical-align: top;
}

input::placeholder, textarea::placeholder {
  font-size: 100%;
  vertical-align: top;
  transition: font-size linear 0.3s;
  vertical-align: top;
}

input:focus::placeholder, textarea:focus::placeholder {
  font-size: 0%;
}

form button {
  font-size: 1.25rem;
  margin: 0.5rem;
  background: linear-gradient(to bottom, var(--secondary) 20%, var(--primary) 300%);
  border: 1px solid var(--black);
  border-radius: var(--radius-default);
}

form button:active {
  background: linear-gradient(to bottom, var(--primary) -200%, var(--secondary) 80%);
}

form button:hover {
  cursor: pointer;
}
