.header {
    background-color: var(--primary);
    color: var(--primary-text);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    line-height: 1.5;
    padding: 0 0.5rem;
    margin: 0;
    height: 4rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a:hover {
    color: var(--gray);
}

.logo {
    stroke: var(--secondary);
    height: 3rem;
    vertical-align: text-bottom;
}

