.modal {
    position: absolute;
    top: 25%;
    left: calc(50% - 40vw);
    width: 80vw;
    background-color: var(--secondary);
    border: 1px solid var(--border-color);
    padding: 2rem;
    border-radius: var(--radius-large);
}

.modalContent {
    position: relative;
}

.modalClose {
    position: absolute;
    top: -0.5rem;
    right: -.05rem;
}

.modalClose:hover {
    cursor: pointer;
}

.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--highlight2);
    opacity: 0.8;
}