nav.navbar {
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--secondary);
    align-self: flex-end;
}

nav.navbar > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav.navbar > ul > li {
    flex: 1;
    margin: 0 1rem;
    display: block;
}

nav.navbar a {
    cursor: pointer;
    padding: 0 0.5rem;
    display: block;
}

nav.navbar a.active {
    background-color: var(--secondary);
    color: var( --primary);
    border-top-left-radius: var(--radius-default);
    border-top-right-radius: var(--radius-default);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}