.container {
    margin-top: 4rem;
    overflow-y: auto;
    height: calc(100% - 4rem);
    position: relative;
    width: 100vw;
}

.main p {
    font-size: 1.25rem;
}

.main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
