.project {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);
}

.thumbnail {
    flex: 1;
}

.details {
    flex: 2;
}

.invoiceLineOdd {
    opacity: 0;
    fill: #99a58dff;
    stroke-width: 0;
    animation: invoice-line-in 0.5s linear forwards;
}

.invoiceLineEven {
    opacity: 0;
    fill: #e0e4ddff;
    stroke-width: 0;
    animation: invoice-line-in 0.5s linear forwards;
}

.invoiceLineOdd:nth-of-type(1) {
    animation-delay: 2s;
}

.invoiceLineEven:nth-of-type(2) {
    animation-delay: 2.5s;
}

.invoiceLineOdd:nth-of-type(3) {
    animation-delay: 3s;
}

.invoiceLineEven:nth-of-type(4) {
    animation-delay: 3.5s;
}

.invoicePayment {
    opacity: 0;
    fill: #515a47ff;
    stroke-width: 0;
    animation: invoice-line-in 0.5s linear 4s forwards;
}


.invoiceIcon {
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: invoice-page-border 2s linear forwards;
}

text.invoicePayment {
    fill: #fff;
    font-size: 8px;
    animation: invoice-line-in 0.5s linear 4.5s forwards;
}

.paymentLanding path {
    opacity: 0;
    stroke: #fff;
    stroke-width: 0.6px;
    animation: flash 0.5s ease-out 5s forwards;
}

.bookOutline {
    fill: transparent;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: invoice-page-border 2s linear forwards;
}

.bookBack {
    fill: transparent;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: invoice-page-border 2s linear forwards;
}

.bookPage {
    fill: transparent;
    stroke-width: 0.25;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    animation: invoice-page-border 2s linear 2s forwards;
}

.reactLogoCenter {
    fill:#61dafb;
    stroke-width: 0;
}

.reactLogoRing {
    stroke: #61dafb;
    fill: transparent;
    animation: rotate linear 4s infinite;
}

.reactLogoRing:nth-of-type(1) {
    /*animation-delay: 0.625s;*/
    animation-duration: 5s;
    transform-origin: 45px 55px;
    transform: rotate(45deg);
}
.reactLogoRing:nth-of-type(2) {
    /*animation-delay: -0.625s;*/
    animation-duration: 4s;
    transform-origin: 45px 55px;
    transform: rotate(-45deg);
}
.reactLogoRing:nth-of-type(3) {
    animation-duration: 6s;
    transform-origin: 45px 55px;
}

.reactAtom {
    opacity: 0;
    animation: fade-in 1s ease-in 3s forwards;
}

.reactLogoRings {
    transform-origin: 45px 55px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes invoice-page-border {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes invoice-line-in {
    from {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1.1);
        
    }
    to {
        opacity: 1;
        transform: scale(1.0, 1.0, 1.0);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}