.toast {
    position: absolute;
    top: 90vh;
    width: 60vw;
    left: calc(50% - 30vw);
    background-color: var(--highlight2);
    color: var(--white);
    padding: 1em;
    border-radius: var(--radius-default);
    box-shadow: 2px 2px 4px 2px #aaa;
}

.showing {
    animation: fade 0.6s linear forwards;
}

.hiding {
    animation: fade-out 0.6s linear forwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.toastClose {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.toastClose:hover {
    cursor: pointer;
}